.PlaceHolderFF {
        background-color: #999999;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.9;
        -webkit-transition-duration: 500ms;
        display: inline-block;
}

.PlaceHolderFF:hover {
        background-color: #444444;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.9;
        -webkit-transition-duration: 500ms;
        display: inline-block;
}

