body {
  background: #ffff00;
  color: #000;
}

img {
  border: 0;
}

#main {
  width: 1150px;
  margin: 20px auto;
  text-align: center;
}

#header {
  margin: auto;
  padding: auto;
}

#site_content {
  /* border: 1px solid #000; */
}

.swiper-slide-left {
  width: 300px;
  float: left;
}

.swiper-slide-right {
  list-style: inside;
  font-size: 110%;
  padding: 1%;
  width: 750px;
  float: right;
}

textarea {
  padding: 5px;
  box-sizing: border-box;
  font-size: 105%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
